body{
	margin: 0;
	font-size: $base-font-size;
	line-height: $base-line-height;
	font-family: $font-stack-body;
	background: $background ;
	 	@media(min-width:779px){
	 		font-size: $base-font-size-large;
	 		line-height: $base-line-height-large;
	 	}
}

.clearfix{
	clear: both;
}

.row{
	@include container;
	padding: 0.5em 1em;
}

.page-content{
	@media(min-width: 779px){
			width: span(9);
			margin: 0 auto;
		}
}







