.post-list{
	margin-left: 0;
	padding-left: 0;
}

.post{
	background: #fff;
	padding: 1em;
	box-shadow: 0 6px $primary;
	list-style: none;
	margin-bottom: 1em;
	overflow: hidden;
}

.post__title{
	margin-bottom: 0;
}

.post__link{
	margin-bottom: 0;
}

.post__meta{
	font-size: 0.8em;
	margin: 0;
}

.post__meta--author{
	font-size: 1.1em;
	margin-top: 0.5em;
}

